body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(eff/ดอก.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: honeydew;
    text-shadow: 2px 1.5px 3px honeydew;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 3em;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

